<section class="section customer" id="customers-say">
  <div class="container">
    <h2 class="title">What our Customers Say</h2>
    <p class="customer__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="customer__list">
      <li class="customer__feedback">
        <div class="rating">
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="customer__review">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer-card">
          <div class="customer-card__avatar">
            <img
              src="./images/customers-say/avatars/avatar-man.jpg"
              alt="Customer photo"
              width="48"
            />
          </div>
          <div class="customer-card__name">
            <p>Sumith Shah</p>
            <p>Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customer__feedback">
        <div class="rating">
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="17px" height="16px">
            <use href="./images/customers-say/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="customer__review">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer-card">
          <div class="customer-card__avatar">
            <img
              src="./images/customers-say/avatars/avatar-woman.jpg"
              alt="Customer photo"
              width="48"
            />
          </div>
          <div class="customer-card__name">
            <p>Sumith Shah</p>
            <p>Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
