<section class="section favorites">
  <div class="container">
    <h2>Some of Our Favorites</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/gamburger-desktop.jpg    1x,
                ../images/favorites/desktop/gamburger-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/gamburger-tablet.jpg    1x,
                ../images/favorites/tablet/gamburger-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/gamburger-mob.jpg    1x,
                ../images/favorites/mob/gamburger-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/gamburger-mob.jpg"
              alt="Gamburger"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
      <li class="favorites__item">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/pasta-desktop.jpg    1x,
                ../images/favorites/desktop/pasta-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/pasta-tablet.jpg    1x,
                ../images/favorites/tablet/pasta-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/pasta-mob.jpg    1x,
                ../images/favorites/mob/pasta-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/pasta-mob.jpg"
              alt="Pasta"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
      <li class="favorites__item">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/pizza-desktop.jpg    1x,
                ../images/favorites/desktop/pizza-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/pizza-tablet.jpg    1x,
                ../images/favorites/tablet/pizza-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/pizza-mob.jpg    1x,
                ../images/favorites/mob/pizza-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/pizza-mob.jpg"
              alt="Pizza"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
      <li class="favorites__item favorites__item--tablet">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/chicken-desktop.jpg    1x,
                ../images/favorites/desktop/chicken-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/chicken-tablet.jpg    1x,
                ../images/favorites/tablet/chicken-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/chicken-mob.jpg    1x,
                ../images/favorites/mob/chicken-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/chicken-mob.jpg"
              alt="Chicken"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
      <li class="favorites__item favorites__item--tablet">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/salat-desktop.jpg    1x,
                ../images/favorites/desktop/salat-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/salat-tablet.jpg    1x,
                ../images/favorites/tablet/salat-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/salat-mob.jpg    1x,
                ../images/favorites/mob/salat-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/salat-mob.jpg"
              alt="Salat"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
      <li class="favorites__item favorites__item--tablet">
        <a href="#"
          ><picture>
            <source
              srcset="
                ../images/favorites/desktop/borshch-desktop.jpg    1x,
                ../images/favorites/desktop/borshch-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/favorites/tablet/borshch-tablet.jpg    1x,
                ../images/favorites/tablet/borshch-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../images/favorites/mob/borshch-mob.jpg    1x,
                ../images/favorites/mob/borshch-mob@2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="../images/favorites/mob/borshch-mob.jpg"
              alt="Borshch"
              width="223"
              class="favorites__image"
            /> </picture
        ></a>
      </li>
    </ul>
  </div>
</section>
