<footer class="footer footer__background">
   <div class="container">
      <div class="footer__logo-nav-sub">
         <div class="footer__logo-nav">
            <a href="#">
            <img class="footer__logo" src="/src/images/footer/foodsta-logo.svg" width="69" height="51" alt="logo">
            </a>
            <div class="site-navigation">
               <ul class="site-navigation__list">
                  <li class="site-navigation__item"> <a href="#">Home</a></li>
                  <li class="site-navigation__item"><a href="#">About</a></li>
                  <li class="site-navigation__item"><a href="#">Service</a></li>
                  <li class="site-navigation__item"><a href="#">Menu</a></li>
                  <li class="site-navigation__item"><a href="#">Contact</a></li>
               </ul>
            </div>
         </div>
         <div class="footer__subscription">
            <p class="form__title">Subscribe</p>
            <form class="footer__form" autocomplete="off">
               <label class="footer__laber">
                  <input class="footer__input" name="mail" type="email" id="mail" placeholder="Enter your email"
                     minlength="" required>
                  <span class="footer__input-warning">
                     <svg class="footer__input-warning-icon" width="12" height="12">
                        <use href="/src/images/footer/icon.svg#icon-warning"></use>
                     </svg>
                     Not a valid email address (example@email.com)
                  </span>
               </label>
               <button class="footer__button" type="submit">Subscribe</button>
            </form>
            <p class="footer__policy">By subscribing you agree to with our <a href="#"><span
                     class="footer__policy-accent"> Privacy Policy</span></a></p>
         </div>
      </div>
      <div class="footer__services-copyright">
         <div class="user-services">
            <ul class="user-services__list">
               <li class="user-services__item"><a href="#"> Privacy Policy</a></li>
               <li class="user-services__item"><a href="#">Terms of Service</a></li>
               <li class="user-services__item"><a href="#">Cookies Settings</a></li>
            </ul>
         </div>

         <p class="footer__copyright">2022 FoodSta. All right reserved.

         </p>
      </div>
   </div>
</footer>