<section class="section container hero">
  <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
  <p class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <button class="btn btn--hero" type="button">Order Now</button>
  <div class="swiper mySwiper wrapper">
    <ul class="swiper-wrapper">
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hero/desk/foto-1.jpg    1x,
              ./images/hero/desk/foto-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/tab/foto-1.jpg    1x,
              ./images/hero/tab/foto-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/desk/foto-1.jpg"
            alt="foto-1"
            width="528"
            class="hero__image"
          />
        </picture>
      </li>
      <li class="item swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hero/desk/foto-2.jpg    1x,
              ./images/hero/desk/foto-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/tab/foto-2.jpg    1x,
              ./images/hero/tab/foto-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/desk/foto-2.jpg"
            alt="foto-2"
            width="528"
            class="hero__image"
          />
        </picture>
      </li>
      <li class="item brown swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hero/desk/foto-3.jpg    1x,
              ./images/hero/desk/foto-3-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/tab/foto-3.jpg    1x,
              ./images/hero/tab/foto-3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/desk/foto-3.jpg"
            alt="foto-3"
            width="528"
            class="hero__image"
          />
        </picture>
      </li>
    </ul>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
