<!-- MODAL -->
<div class="backdrop modal-js is-hidden">
  <div class="modal">
    <div class="modal-container">
      <h2 class="modal__title">Order Form</h2>
      <button class="modal-close close-modal" type="button">
        <svg class="" width="12" height="12" class="modal__icon">
          <use href="/src/images/header/close-open-menu.svg#icon-close"></use>
        </svg>
      </button>
      <form action="" class="form" novalidate>
        <label for="user_text" class="label">Name </label>
        <input
          class="input"
          name="username"
          type="text"
          placeholder="Your name"
          id="user_text"
          minlength="3"
          maxlength="25"
          required
        />
        <span class="modal-error">
          <svg class="modal-error__icon" width="12" height="12">
            <use href="/src/images/customers-say/icons.svg#icon-warning"></use>
          </svg>
          The name must be between 3 and 25 characters
        </span>

        <label for="user_tel" class="label">Phone number </label>
        <input
          class="input"
          name="usertel"
          type="tel"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
          id="user_tel"
          minlength="10"
          maxlength="25"
          required
        />
        <span class="modal-error">
          <svg class="modal-error__icon" width="12" height="12">
            <use href="/src/images/customers-say/icons.svg#icon-warning"></use>
          </svg>
          This phone must be in the format 099 000 00 00
        </span>

        <label for="user_email" class="label">E-mail</label>
        <input
          class="input input--last"
          name="useremail"
          type="email"
          placeholder="example@gmail.com"
          required
          id="user_email"
        />
        <span class="modal-error modal-error--last">
          <svg class="modal-error__icon" width="12" height="12">
            <use href="/src/images/customers-say/icons.svg#icon-warning"></use>
          </svg>
          Please enter a valid email address
        </span>
        <button class="modal-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
