<section class="section subscribe" id="subscribe">
  <picture
    ><source
      srcset="
        ./images/subscribe/banana-desk.png    1x,
        ./images/subscribe/banana-desk@2x.png 2x
      "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./images/subscribe/banana-tab.png    1x,
        ./images/subscribe/banana-tab@2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/subscribe/banana-mob.png    1x,
        ./images/subscribe/banana-mob@2x.png 2x
      "
      media="(min-width: 480px)"
    />
    <img
      class="subscribe__bg"
      src="./images/subscribe/banana-mob.png"
      alt="Banana"
      width="161"
    />
  </picture>

  <div class="container">
    <h2 class="title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <div class="subscribe__input">
      <input
        class="subscribe__email"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <button type="submit" class="subscribe__btn">Subscribe</button>
    </div>
  </div>
</section>
