<section class="section subscribe" id="subscribe">
  <div class="container subscribe">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <input
      class="subscribe__email"
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email"
    />
    <button type="submit" class="btn">Subscribe</button>
  </div>
</section>
