<section class="section subscribe" id="subscribe">
  <picture
    ><source
      srcset="
        ./images/subscribe/banana-desk.png    1x,
        ./images/subscribe/banana-desk@2x.png 2x,
        ./images/subscribe/banana-desk@3x.png 3x
      "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./images/subscribe/banana-tab.png    1x,
        ./images/subscribe/banana-tab@2x.png 2x,
        ./images/subscribe/banana-tab@3x.png 3x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/subscribe/banana-mob.png    1x,
        ./images/subscribe/banana-mob@2x.png 2x,
        ./images/subscribe/banana-mob@3x.png 3x
      "
      media="(min-width: 480px)"
    />
    <img
      class="subscribe__bg"
      src="./images/subscribe/banana-mob.png"
      alt="Banana"
      width="161"
    />
  </picture>

  <div class="container subscribe">
    <h2 class="title subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <div class="subscribe__input">
      <form class="subscribe__field">
        <input
          class="subscribe__email"
          name="mail"
          type="email"
          id="mail"
          placeholder="Enter your email"
          required
        />
        <span class="subscribe__warning">
          <svg class="subscribe__warning-icon" width="12" height="12">
            <use href="/src/images/customers-say/icons.svg#icon-warning"></use>
          </svg>
          Not a valid email address (example@email.com)
        </span>
      </form>

      <button type="submit" class="btn subscribe__btn">Subscribe</button>
    </div>
  </div>
</section>
