.back-to-top {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 80px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: rgba(187, 243, 48, 0.7);
  outline: none;

  transition: background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 20px;

    border-top: 6px solid #fefefe;
    border-left: 6px solid #fefefe;
    border-radius: 3px;

    transform: translate(-50%, -30%) rotate(45deg);
  }
}
