.btn {
  width: 98px;
  height: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: 1px solid #ff6c00;
  border-radius: 30px;
  background-color: $hoverColor;
}
