.footer__logo {
    display: inline-block;
}

.site-navigation__list {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    
}

.site-navigation__item {
    margin-bottom: 20px;
}

.site-navigation__item:last-child {
    margin-bottom: 0;
}