.hero {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 55px;
    padding-top: 60px;
    position: relative;
  }

  @media screen and (min-width: 1280px) {
    //
    padding-bottom: 100px;
    //
    padding-top: 159px;
    position: relative;
  }

  &-wrapper {
    width: 280px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;
      width: 537px;
    }

    @media screen and (min-width: 1280px) {
      width: 502px;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 1.18;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;

      // width: 537px;
      margin-bottom: 44px;
      font-size: 42px;
      line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
      // width: 537px;
      font-size: 48px;
      line-height: 1.2;
      margin-bottom: 28px;
    }
  }

  &__text {
    width: 100%;
    line-height: 1.5;
    margin-bottom: 28px;
    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;
      width: 336px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      width: 502px;
    }
  }
}

.btn--hero {
  padding: 6px 18px;
  transition: background-color 250ms $timingFunction;

  &:active {
    background-color: #b5ff00;
  }
  @media screen and (min-width: 1280px) {
    &:active {
      background-color: $hoverColor;
    }
    &:hover,
    &:focus {
      background-color: #b5ff00;
    }
  }
}

.swiper-container {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 40px;
    top: 149px;
    z-index: 1;
    width: 320px;
    height: 320px;

    border: 14px solid #ffe550;
    border-radius: 50%;
    transition: border-color 250ms $timingFunction;
    &:hover,
    &:focus {
      border-color: $hoverColor;
    }
  }

  @media screen and (min-width: 1280px) {
    top: 14px;
    right: 26px;
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550;
  }
}
.swiper {
  border-radius: 50%;
}

.swiper__arrow {
  position: absolute;
  width: 34px;
  height: 28px;
  color: $textColor;
  fill: currentColor;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 250ms $timingFunction, color 250ms $timingFunction;

  &:active {
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
    &:hover {
      color: #7eb101;
    }
    &:active {
      color: $textColor;
    }
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: transparent;
}

.swiper-button-next {
  right: -19px;
  @media screen and (min-width: 1280px) {
    right: -25px;
  }
}

.swiper-button-prev {
  left: -19px;
  @media screen and (min-width: 1280px) {
    left: -25px;
  }
}
