.section.subscribe {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    padding-top: 82px;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;

//   @media screen and(min-width: 768px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//   }

//   @media screen and(min-width: 1280px) {
//     display: inline-block;
//   }
// }

.subscribe__bg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 281px;
    left: 600px;
  }

  @media screen and (min-width: 1280px) {
    width: 546px;
  }
}

.title {
  width: 280px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  font-size: 28px;
  line-height: 1.21;

  @media screen and(min-width:768px) {
    width: 656px;
    margin-left: 0;
    font-size: 42px;
    line-height: 1.19;
  }
}

.subscribe__text {
  width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    width: 656px;
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.subscribe__input {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;

  @media screen and (min-width: 768px) {
    width: 519px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }
}

.subscribe__email {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid $accentColor;
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    width: 395px;
    margin-bottom: 0;
    margin-right: 22px;
  }
}

.subscribe__email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: #505050;
}

.subscribe__btn {
  margin-left: auto;
  padding: 11px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.53;

  color: $textColor;
  background-color: $hoverColor;

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
