// .section.subscribe {
//   background-image: url();
// }

.subscribe__title {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;

  color: $textColor;

  @media screen and(min-width:768px) {
    font-size: 42px;
    line-height: 1.19;
  }
}

.subscribe__text {
  margin-bottom: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: $textColor;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.subscribe__email {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  border: 1px solid $accentColor;
  border-radius: 30px;
}

.subscribe__email::placeholder {
  padding: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: #505050;
}
